@charset "UTF-8";
.hero__bg {
  transform-origin: right;
  will-change: transform;
  position: relative;
  margin: auto;
  min-height: 50%;
  max-height: max(470px, 55%);
  width: 95%;
  background-color: #362d43;
  border-radius: 20px;
}
@media screen and (max-width: 415px) {
  .hero__bg {
    margin-right: 3rem;
  }
}

.hero__name-bg {
  position: absolute;
  top: -12.5%;
  right: 0;
  transform-origin: right;
  will-change: transform;
  height: 25%;
  width: 95%;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  background-color: #514268;
}
@media screen and (max-width: 415px) {
  .hero__name-bg {
    height: 16.6666666667%;
    top: -8.3333333333%;
    width: 90%;
    padding-left: 2.5rem;
    transform: translateX(10px);
  }
}
.hero__name-bg h1 {
  opacity: 0;
  font-weight: 500;
  font-size: 4.8rem;
  color: #ddd6fe;
}
@media screen and (max-width: 415px) {
  .hero__name-bg h1 {
    font-size: 3.2rem;
  }
}

.hero-container {
  display: flex;
  margin-top: 10rem;
  padding-left: 5.3191489362%;
}
@media screen and (max-width: 415px) {
  .hero-container {
    margin-top: 6.6666666667rem;
  }
}
.hero-container h2 {
  opacity: 0;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #a78bfa;
  white-space: nowrap;
  letter-spacing: 1px;
}
@media screen and (max-width: 800px) {
  .hero-container h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 415px) {
  .hero-container h2 {
    font-size: 1.7rem;
  }
}
.hero-container p {
  opacity: 0;
  position: relative;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.8rem;
  max-width: 50ch;
  color: #c4b5fd;
  padding-left: 2rem;
  margin-bottom: 2rem;
  border-left: 5px solid #f4a560;
}
@media screen and (max-width: 415px) {
  .hero-container p {
    padding-right: 2rem;
    padding-left: 1.5rem;
    font-size: 1.6rem;
  }
}

.hero-img-container {
  margin-top: calc((25% / 1.8 + 10rem) * -1);
  margin-left: auto;
  z-index: 2;
  flex-basis: 600px;
  max-width: 600px;
  min-width: 500px;
}
@media screen and (max-width: 800px) {
  .hero-img-container {
    max-width: 200px;
    margin-left: -50px;
  }
}
@media screen and (max-width: 415px) {
  .hero-img-container {
    display: none;
  }
}

.hero-img {
  opacity: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 5px 5px #431292);
}

.hero-btn {
  display: block;
  transform-origin: center;
  opacity: 0;
  border: none;
  background: none;
  cursor: pointer;
  max-width: 100px;
  transition: all 0.15s linear;
}
.hero-btn:focus {
  outline: 2px dashed rgba(197, 115, 38, 0.678);
}
.hero-btn:hover, .hero-btn:focus {
  filter: drop-shadow(0px 0px 10px rgba(197, 115, 38, 0.678));
  transform: scale(1.1);
}
.hero-btn:hover svg path:nth-child(13), .hero-btn:focus svg path:nth-child(13) {
  fill: #c51751;
}
@media screen and (max-width: 415px) {
  .hero-btn {
    margin-bottom: 40px;
    margin: 20px auto;
    filter: drop-shadow(0px 0px 10px rgba(197, 115, 38, 0.678));
  }
  .hero-btn svg path:nth-child(13) {
    fill: #c51751;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
}

@supports (-moz-appearance: none) {
  html {
    scroll-snap-type: y mandatory;
  }

  .scrollable-object {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
@media screen and (max-width: 415px) {
  html {
    scroll-snap-type: none;
  }
}
body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  width: 100vw;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.light-pattern-bg {
  background-color: #e2dee8;
  background-image: linear-gradient(0deg, rgba(240, 223, 248, 0.911), rgba(240, 223, 248, 0.911)), url("/bg-pattern1.b98ee74e.jpg");
}

.dark-pattern-bg {
  background-color: #362d43;
  background-image: linear-gradient(0deg, #362d43f3, #362d43f3), url("/bg-pattern1.b98ee74e.jpg");
}

.main-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1400px) / 2);
}
@media screen and (max-width: 800px) {
  .main-container {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 10rem 0.5rem;
  }
}

.art-section {
  padding-top: 1rem;
  height: 100%;
  min-height: 100vh;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .art-section {
    min-height: 100%;
    padding-bottom: 1rem;
  }
}
.art-section p {
  color: #c4b5fd;
  font-size: 3.6rem;
}
@media screen and (max-width: 415px) {
  .art-section p {
    font-size: 2.4rem;
  }
}
.art-section button {
  color: #a997f0;
  background: none;
  border: none;
  font-size: 9.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.085em;
  outline: none;
  z-index: 3;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
@media screen and (max-width: 415px) {
  .art-section button {
    font-size: 8.4rem;
  }
}
.art-section button:focus {
  border-bottom: 3px solid #9f0bcc;
  margin-bottom: -3px;
}
.art-section button:hover {
  color: #ddd6fe;
}

.art-text {
  margin: 5rem 0;
}

.art-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin-bottom: 15rem;
}
.art-img-container img {
  display: block;
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
}
.art-img-container img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 20px rgba(177, 91, 226, 0.733));
}
@media screen and (max-width: 415px) {
  .art-img-container {
    grid-template-columns: 1fr;
  }
}

.art-switch-container {
  position: relative;
}

.art-ripples {
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.thumbnail-text-style {
  text-transform: lowercase !important;
  font-size: 4.8rem !important;
  background-image: linear-gradient(#fbff00, #ff0000) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  border-bottom: 3px solid #ff00007c !important;
  margin-bottom: 3px !important;
}

.wah-sound {
  min-height: 90vh;
  position: relative;
}

.wah-text {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;
  pointer-events: none;
  position: absolute;
  margin: auto;
  font-size: 15rem;
  z-index: 50;
  color: #a78bfa;
  opacity: 0;
  transform: scale(2);
  transform: translateZ(0);
}

.desk {
  z-index: 50;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #855748;
  border-top: 4px solid rgba(43, 40, 40, 0.541);
}

.wah-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 70vw;
  background: none;
  border: none;
}
.wah-button img {
  display: block;
  position: absolute;
  bottom: 15%;
  filter: brightness(0.05) drop-shadow(0px 0px 20px rgba(177, 91, 226, 0.733));
}
.wah-button img:hover {
  transition: filter 0.15s;
  filter: brightness(0.15) drop-shadow(0px 0px 20px rgba(177, 91, 226, 0.733));
}

.ina-face {
  z-index: 5;
}

.song {
  padding-top: 5rem;
  gap: 5rem;
}
@media screen and (max-width: 415px) {
  .song {
    min-height: 90vh;
  }
}
.song h2 {
  display: block;
  color: #c4b5fd;
  margin: auto 0;
  font-size: 9.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.085em;
}
@media screen and (max-width: 415px) {
  .song h2 {
    font-size: 6.4rem;
  }
}
.song .video {
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
}
@media screen and (max-width: 415px) {
  .song .video {
    padding-bottom: 70%;
  }
}
.song .video__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

footer {
  text-align: center;
  background-color: #242424;
}

.social-card {
  position: relative;
  min-height: 300px;
  margin-top: auto;
  padding: 0 50px;
  border-radius: 77px;
  background-color: #e2dee8;
  display: grid;
  gap: 5rem;
  grid-template-columns: minmax(100px, 1fr) 3fr;
}
@media screen and (max-width: 415px) {
  .social-card {
    max-width: 90vw;
    grid-template-columns: 1fr;
    padding: 0 10px;
    gap: 0;
    margin-bottom: 100px;
  }
}
.social-card img {
  position: absolute;
  top: -20%;
  left: -10%;
  filter: drop-shadow(3px 3px 3px #431292);
}
@media screen and (max-width: 415px) {
  .social-card img {
    position: static;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 415px) {
  .placeholder {
    display: none;
  }
}
.social-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-card__content blockquote {
  quotes: "“" "”";
  color: #4c1d95;
  white-space: nowrap;
  padding: 0 auto;
  width: 100%;
  font-size: 4.8rem;
  font-style: italic;
}
@media screen and (max-width: 415px) {
  .social-card__content blockquote {
    font-size: 3rem;
    margin-top: -50px;
  }
}
.social-card__content blockquote::before {
  content: open-quote;
}
.social-card__content blockquote::after {
  content: close-quote;
}
.social-card__content blockquote::before, .social-card__content blockquote::after {
  display: inline-block;
  vertical-align: bottom;
  font-size: 7rem;
  opacity: 0.4;
  top: 0.2em;
  position: relative;
}
@media screen and (max-width: 415px) {
  .social-card__content blockquote::before, .social-card__content blockquote::after {
    font-size: 5rem;
  }
}

.social-card__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  margin-right: 10rem;
  gap: 3rem;
}
@media screen and (max-width: 415px) {
  .social-card__links {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}
.social-card__links a:focus {
  outline: 2px dashed rgba(197, 38, 157, 0.678);
}

.made-by {
  margin-top: auto;
  margin-bottom: 2rem;
  color: #b6b2c0;
  font-size: 1.6rem;
}
.made-by a {
  color: #7f50ff;
  text-decoration: none;
}
.made-by a:focus {
  outline: 1px dashed #ffa1e7;
}

.legal-text {
  margin-bottom: 5%;
  color: #b6b2c0;
  font-size: 1.6rem;
}




/*# sourceMappingURL=/style.251b6741.css.map */