$violet200: #ddd6fe;
$violet300: #c4b5fd;
$violet300-off: #a997f0;
$violet400: #a78bfa;
$violet800: #5b21b6;
$violet900: #4c1d95;

$highlight-yellow: #f4a560;
$bg-pattern1-color: rgba(240, 223, 248, 0.911);
$bg-pattern2-color: #362d43f3;
$bg-pattern3-color: #409ccbf5;

$hero-container-bg: #362d43;
$hero-name-bg: #514268;
$hero-card-border-radius: 20px;
$hero-name-bg-height: 25%;
$hero-container-top-margin: 10rem;

$desk-height: 15%;
