@use 'variables' as v;
@use 'hero';
@use 'media_queries' as mq;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;

  text-rendering: optimizeLegibility;
}
@supports (-moz-appearance: none) {
  html {
    scroll-snap-type: y mandatory;
  }
  .scrollable-object {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

@include mq.phone {
  html {
    scroll-snap-type: none;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  width: 100vw;
}

img {
  // display: block;
  max-width: 100%;

  // max-height: 70vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.light-pattern-bg {
  // fallback color
  background-color: #e2dee8;
  background-image: linear-gradient(
      0deg,
      v.$bg-pattern1-color,
      v.$bg-pattern1-color
    ),
    url('/assets/bg-pattern1.jpg');
}

.dark-pattern-bg {
  // fallback color
  background-color: #362d43;
  background-image: linear-gradient(
      0deg,
      v.$bg-pattern2-color,
      v.$bg-pattern2-color
    ),
    url('/assets/bg-pattern1.jpg');
}

.main-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1400px) / 2);

  @include mq.tablet {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 10rem 0.5rem;
  }
}

.art-section {
  padding-top: 1rem;
  height: 100%;
  min-height: 100vh;
  text-align: center;

  @include mq.phone {
    min-height: 100%;
    padding-bottom: 1rem;
  }

  p {
    color: v.$violet300;
    font-size: 3.6rem;

    @include mq.phone {
      font-size: 2.4rem;
    }
  }
  button {
    color: v.$violet300-off;
    background: none;
    border: none;
    font-size: 9.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.085em;
    outline: none;
    z-index: 3;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    @include mq.phone {
      font-size: 8.4rem;
    }

    &:focus {
      border-bottom: 3px solid #9f0bcc;
      margin-bottom: -3px;
    }

    &:hover {
      color: v.$violet200;
    }
  }
}

.art-text {
  margin: 5rem 0;
}

.art-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin-bottom: 15rem;

  img {
    display: block;
    margin: 0 auto;
    transition: all 0.25s ease-in-out;

    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0px 0px 20px rgba(177, 91, 226, 0.733));
    }
  }

  @include mq.phone {
    grid-template-columns: 1fr;
  }
}

.art-switch-container {
  position: relative;
}
.art-ripples {
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
}

.thumbnail-text-style {
  text-transform: lowercase !important;
  font-size: 4.8rem !important;
  background-image: linear-gradient(#fbff00, #ff0000) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  border-bottom: 3px solid #ff00007c !important;
  margin-bottom: 3px !important;
}
///////////////////////
// Wah section
///////////////////////

.wah-sound {
  min-height: 90vh;
  position: relative;
}

.wah-text {
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  will-change: transform;

  pointer-events: none;

  position: absolute;
  margin: auto;
  font-size: 15rem;
  z-index: 50;
  color: v.$violet400;
  opacity: 0;
  transform: scale(2);
  transform: translateZ(0);
}

.desk {
  z-index: 50;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: v.$desk-height;
  background-color: #855748;
  border-top: 4px solid rgba(43, 40, 40, 0.541);
}

.wah-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 70vw;
  background: none;
  border: none;

  img {
    display: block;
    position: absolute;
    bottom: v.$desk-height;
    filter: brightness(0.05) drop-shadow(0px 0px 20px rgba(177, 91, 226, 0.733));

    &:hover {
      transition: filter 0.15s;
      filter: brightness(0.15)
        drop-shadow(0px 0px 20px rgba(177, 91, 226, 0.733));
    }
  }
}

.ina-face {
  z-index: 5;
}
///////////////////////
// Music section
///////////////////////

.song {
  padding-top: 5rem;
  gap: 5rem;

  @include mq.phone {
    min-height: 90vh;
  }

  h2 {
    display: block;
    color: v.$violet300;
    margin: auto 0;

    font-size: 9.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.085em;

    @include mq.phone {
      font-size: 6.4rem;
    }
  }

  .video {
    position: relative;
    margin-bottom: 5rem;
    width: 100%;
    height: 0;
    padding-bottom: 40%;

    @include mq.phone {
      padding-bottom: 70%;
    }
  }
  .video__embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

footer {
  text-align: center;
  background-color: #242424;
}

.social-card {
  position: relative;
  min-height: 300px;
  margin-top: auto;
  padding: 0 50px;
  border-radius: 77px;
  background-color: #e2dee8;
  display: grid;
  gap: 5rem;
  grid-template-columns: minmax(100px, 1fr) 3fr;

  @include mq.phone {
    max-width: 90vw;
    grid-template-columns: 1fr;
    padding: 0 10px;
    gap: 0;
    margin-bottom: 100px;
  }

  img {
    position: absolute;
    top: -20%;
    left: -10%;
    filter: drop-shadow(3px 3px 3px rgb(67, 18, 146));

    @include mq.phone {
      position: static;
      transform: scale(0.8);
    }
  }
}

@include mq.phone {
  .placeholder {
    display: none;
  }
}

.social-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  blockquote {
    quotes: '“' '”';
    color: v.$violet900;
    white-space: nowrap;
    padding: 0 auto;
    width: 100%;

    font-size: 4.8rem;
    font-style: italic;

    @include mq.phone {
      font-size: 3rem;
      margin-top: -50px;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
    &::before,
    &::after {
      display: inline-block;
      vertical-align: bottom;
      font-size: 7rem;
      opacity: 0.4;
      top: 0.2em;
      position: relative;

      @include mq.phone {
        font-size: 5rem;
      }
    }
  }
}

.social-card__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  gap: 3rem;

  @include mq.phone {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }

  a {
    &:focus {
      outline: 2px dashed rgba(197, 38, 157, 0.678);
    }
  }
}
.made-by {
  margin-top: auto;
  margin-bottom: 2rem;
  color: #b6b2c0;
  font-size: 1.6rem;

  a {
    color: #7f50ff;
    text-decoration: none;

    &:focus {
      outline: 1px dashed rgb(255, 161, 231);
    }
  }
}

.legal-text {
  margin-bottom: 5%;
  color: #b6b2c0;
  font-size: 1.6rem;
}
