@charset "UTF-8";
.hero__bg {
  position: relative;
  margin: auto;
  min-height: 50%;
  max-height: 60%;
  width: 95%;
  background-color: #362d43;
  border-radius: 20px;
}

.hero__name-bg {
  position: absolute;
  top: -12.5%;
  right: 0;
  height: 25%;
  width: 95%;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  background-color: #514268;
}
.hero__name-bg h1 {
  font-size: 4.8rem;
  color: #ddd6fe;
}

.hero-container {
  display: flex;
  margin-top: 10rem;
  padding-left: 5.3191489362%;
}
.hero-container h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #a78bfa;
  white-space: nowrap;
  letter-spacing: 1px;
}
.hero-container p {
  position: relative;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-size: 1.8rem;
  max-width: 50ch;
  color: #c4b5fd;
  padding-left: 2rem;
  margin-bottom: 2rem;
  border-left: 5px solid #f4a560;
}

.hero-img-container {
  margin-top: calc( (25% / 1.8 + 10rem) * -1 );
  margin-left: auto;
  z-index: 2;
  flex-basis: 600px;
  max-width: 600px;
  min-width: 500px;
}

.hero-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  filter: drop-shadow(5px 5px 5px #431292);
}

.hero-btn {
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.15s linear;
}
.hero-btn:focus {
  outline: 2px dashed rgba(197, 115, 38, 0.678);
}
.hero-btn:hover, .hero-btn:focus {
  filter: drop-shadow(0px 0px 10px rgba(197, 115, 38, 0.678));
  transform: scale(1.1);
}
.hero-btn:hover svg path:nth-child(13), .hero-btn:focus svg path:nth-child(13) {
  fill: #c51751;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  width: 100vw;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tako-ears {
  position: absolute;
  left: 30%;
  bottom: 0;
  display: none;
}

.light-pattern-bg {
  background-color: #e2dee8;
  background-image: linear-gradient(0deg, rgba(240, 223, 248, 0.911), rgba(240, 223, 248, 0.911)), url("/assets/bg-pattern1.jpg");
}

.dark-pattern-bg {
  background-color: #362d43;
  background-image: linear-gradient(0deg, #362d43f3, #362d43f3), url("/assets/bg-pattern1.jpg");
}

.main-container {
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1400px) / 2);
}

.art-section {
  height: 100%;
  min-height: 100vh;
  text-align: center;
}
.art-section p {
  color: #c4b5fd;
  font-size: 3.6rem;
}
.art-section button {
  color: #c4b5fd;
  background: none;
  border: none;
  font-size: 9.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.085em;
  outline: none;
}
.art-section button:focus {
  border-bottom: 3px solid #9f0bcc;
  margin-bottom: -3px;
}

.art-text {
  margin: 5rem 0;
}

.art-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 15rem;
}
.art-img-container img {
  margin: 0 auto;
}

.thumbnail-text-style {
  text-transform: lowercase !important;
  font-size: 4.8rem !important;
  background-image: linear-gradient(#fbff00, #ff0000) !important;
  color: transparent !important;
  -webkit-background-clip: text !important;
          background-clip: text !important;
  border-bottom: 3px solid #ff00007c !important;
  margin-bottom: 3px !important;
}

.wah-sound {
  position: relative;
}

.desk {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #855748;
  border-top: 4px solid rgba(43, 40, 40, 0.541);
}

.wah-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.wah-button img {
  display: block;
  position: absolute;
  bottom: 15%;
  filter: brightness(0.05);
}

.song {
  padding-top: 5rem;
  gap: 5rem;
}
.song h2 {
  display: block;
  color: #c4b5fd;
  margin: auto 0;
  font-size: 9.6rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.085em;
}
.song .video {
  position: relative;
  margin-bottom: 5rem;
  width: 100%;
  height: 0;
  padding-bottom: 40%;
}
.song .video__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

footer {
  scroll-snap-align: start;
  text-align: center;
  background-color: #242424;
}

.social-card {
  position: relative;
  min-height: 300px;
  margin-top: auto;
  border-radius: 77px;
  background-color: #e2dee8;
  display: grid;
  gap: 10rem;
  grid-template-columns: minmax(100px, 1fr) 2fr;
}
.social-card img {
  position: absolute;
  margin-top: -10%;
  filter: drop-shadow(3px 3px 3px #431292);
}

.social-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-card__content blockquote {
  quotes: "“" "”";
  color: #4c1d95;
  white-space: nowrap;
  padding: 0 auto;
  padding-right: 10rem;
  width: 100%;
  font-size: 4.8rem;
  font-style: italic;
}
.social-card__content blockquote::before {
  content: open-quote;
}
.social-card__content blockquote::after {
  content: close-quote;
}
.social-card__content blockquote::before, .social-card__content blockquote::after {
  display: inline-block;
  vertical-align: bottom;
  font-size: 7rem;
  opacity: 0.4;
  top: 0.2em;
  position: relative;
}

.social-card__links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  margin-right: 10rem;
  gap: 3rem;
}

.made-by {
  margin-top: auto;
  margin-bottom: 2rem;
  color: #b6b2c0;
  font-size: 1.6rem;
}
.made-by a {
  color: #7f50ff;
  text-decoration: none;
}

.legal-text {
  margin-bottom: 5%;
  color: #b6b2c0;
  font-size: 1.6rem;
}/*# sourceMappingURL=style.css.map */