@import 'variables';
@import 'hero';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;

  text-rendering: optimizeLegibility;

  scroll-snap-type: y mandatory;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  width: 100vw;
}

img {
  // display: block;
  max-width: 100%;

  // max-height: 70vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tako-ears {
  position: absolute;
  left: 30%;
  bottom: 0;
  display: none;
}

.light-pattern-bg {
  // fallback color
  background-color: #e2dee8;
  background-image: linear-gradient(
      0deg,
      $bg-pattern1-color,
      $bg-pattern1-color
    ),
    url('/assets/bg-pattern1.jpg');
}

.dark-pattern-bg {
  // fallback color
  background-color: #362d43;
  background-image: linear-gradient(
      0deg,
      $bg-pattern2-color,
      $bg-pattern2-color
    ),
    url('/assets/bg-pattern1.jpg');
}

.main-container {
  scroll-snap-align: start;

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1400px) / 2);
}

.art-section {
  height: 100%;
  min-height: 100vh;
  text-align: center;

  p {
    color: $violet300;
    font-size: 3.6rem;
  }
  button {
    color: $violet300;
    // outline: none;
    background: none;
    border: none;
    font-size: 9.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.085em;
    outline: none;

    &:focus {
      border-bottom: 3px solid #9f0bcc;
      margin-bottom: -3px;
    }
  }
}

.art-text {
  margin: 5rem 0;
}

.art-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  align-items: center;

  margin-bottom: 15rem;

  img {
    margin: 0 auto;
  }
}

.thumbnail-text-style {
  text-transform: lowercase !important;
  font-size: 4.8rem !important;
  background-image: linear-gradient(#fbff00, #ff0000) !important;
  color: transparent !important;
  background-clip: text !important;
  border-bottom: 3px solid #ff00007c !important;
  margin-bottom: 3px !important;
}
///////////////////////
// Wah section
///////////////////////

.wah-sound {
  // height: 100%;
  position: relative;
}

.desk {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $desk-height;
  background-color: #855748;
  border-top: 4px solid rgba(43, 40, 40, 0.541);
}

.wah-button {
  display: flex;
  align-items: center;
  justify-content: center;

  // background: none;
  border: none;

  // position: relative;

  cursor: pointer;
  // background-color: black;

  img {
    display: block;
    position: absolute;
    bottom: $desk-height;
    // background-color: black;
    filter: brightness(0.05);
  }
}
///////////////////////
// Music section
///////////////////////

.song {
  padding-top: 5rem;
  gap: 5rem;
  h2 {
    display: block;
    color: $violet300;
    // margin-bottom: 10rem;
    // padding-top: 10rem;
    margin: auto 0;

    font-size: 9.6rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.085em;
  }

  .video {
    // display: block;
    position: relative;
    margin-bottom: 5rem;
    width: 100%;
    // max-width: 60vw;
    height: 0;
    // max-height: 40vh;
    padding-bottom: 40%;
  }
  .video__embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

footer {
  scroll-snap-align: start;

  text-align: center;
  background-color: #242424;
}

.social-card {
  position: relative;
  // min-width: 60vw;
  min-height: 300px;
  // max-width: 10000px;
  margin-top: auto;

  border-radius: 77px;
  background-color: #e2dee8;
  display: grid;
  gap: 10rem;
  // align-items: center;
  // vertical-align: middle;
  grid-template-columns: minmax(100px, 1fr) 2fr;

  img {
    position: absolute;
    margin-top: -10%;
    filter: drop-shadow(3px 3px 3px rgb(67, 18, 146));
  }
}

.social-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  blockquote {
    quotes: '“' '”';
    color: $violet900;
    white-space: nowrap;

    // margin-left: 2rem;
    // margin-right: 10rem;
    padding: 0 auto;
    padding-right: 10rem;
    width: 100%;

    font-size: 4.8rem;
    font-style: italic;
    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
    &::before,
    &::after {
      display: inline-block;
      vertical-align: bottom;
      font-size: 7rem;
      opacity: 0.4;
      top: 0.2em;
      position: relative;
    }
  }
}

.social-card__links {
  // margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  width: 100%;
  margin-right: 10rem;
  gap: 3rem;
}

.made-by {
  margin-top: auto;
  margin-bottom: 2rem;
  color: #b6b2c0;
  font-size: 1.6rem;

  a {
    color: #7f50ff;
    text-decoration: none;
  }
}

.legal-text {
  margin-bottom: 5%;
  color: #b6b2c0;
  font-size: 1.6rem;
}
