@import 'variables';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  min-height: 100%;
  width: 100vw;
}

img {
  // display: block;
  max-width: 100%;

  // max-height: 70vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tako-ears {
  position: absolute;
  left: 30%;
  bottom: 0;
  display: none;
}

.light-pattern-bg {
  position: relative;
  overflow: hidden;

  display: flex;

  width: 100%;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1400px) / 2);

  // fallback color
  background-color: #e2dee8;
  background-image: linear-gradient(
      0deg,
      $bg-pattern1-color,
      $bg-pattern1-color
    ),
    url('/assets/bg-pattern1.jpg');
}

.hero__bg {
  position: relative;
  margin: auto;

  min-height: 50%;
  max-height: 60%;
  width: 95%;

  background-color: $hero-container-bg;
  border-radius: $hero-card-border-radius;
}

.hero__name-bg {
  position: absolute;
  top: -$hero-name-bg-height/2;
  right: 0;

  height: $hero-name-bg-height;
  width: 95%;

  display: flex;
  align-items: center;
  padding-left: 2rem;

  border-radius: $hero-card-border-radius;
  border-bottom-right-radius: 0;
  background-color: $hero-name-bg;
}

.hero-container {
  // overflow: hidden;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 100px;
  grid-template-areas:
    'sub-header hero-img'
    'hero-text hero-img'
    'hero-btn hero-img';

  // gap: 1px;

  min-height: 0;
  min-width: 0;

  // max-height: 100%;
}

.sub-header {
  grid-area: sub-header;
}

.hero-text {
  grid-area: hero-text;
}

.hero-btn {
  grid-area: hero-btn;

  max-height: 100px;
  max-width: 200px;

  min-width: 0;
  min-height: 0;

  border: none;
  background: none;
  cursor: pointer;
  &:focus {
    outline: 2px dashed #17171d;
  }
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
  svg {
    outline: none;
    transition: transform 0.15s linear;
  }
}

.hero-img-container {
  // overflow: hidden;

  // display: block;
  grid-area: hero-img;
  // max-height: 100%;
  z-index: 10;
  // min-width: 0;

  // overflow: hidden;
  min-width: 0;
  min-height: 0;

  height: 100%;
}

.hero-img {
  // height: 70vw;
  // aspect-ratio: 1/ 1;
  // min-width: 0;

  width: inherit;
  height: inherit;
  object-fit: contain;
}
